@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 4
   
   Author: Anthony Arias
          Date:   11-30-18     
   
   Filename: jb_styles.css

   This file contains the screen styles used with the 
   Jersey Buoys home page

*/
/* HTML Styles */
html {
    background: url(jb_back2.png) center center / cover no-repeat fixed;
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    font-size: 12px;
}

/* Body Styles */
body {
    background: rgb(96, 153, 222);
    box-shadow: rgb(255, 255, 255) 5px 0px 15px,
        rgb(255, 254, 254) -5px 0px 15px;
    margin: 0px auto;
    min-height: 100%;
    min-width: 320px;
    max-width: 1024px;
    width: 100%;
}


/* Navigation Styles */
nav ul li {
    text-align: center;
    font-size: 1.5em;
    padding-top: 10px;
    width: 16.6%;
    float: left;
    padding-bottom: 10px;
}


/* Article Styles */
 article {
    font-size: 20px;
    line-height: 25px;
    padding-right: 220px;
    width: 70%;
    padding-left: 15px;
    
}



/* Aside Styles */
aside {
    margin-top: -70px;
    margin-right: -270px;
    padding-left: 10px;
    float: right;
    background: radial-gradient(white, rgb(96, 153, 222));
    border: 6px solid rgb(0, 0, 0);
    border-radius: 20px;
    width: 35%;
    float: right;
}


/* Image Styles */
header img {
    display: block;
    margin: 0px auto;
    width: 40%;
}




/* =================================
   Mobile Styles: 0px to 480px
   =================================
*/






/* =================================
   Tablet Styles: 481px and greater 
   =================================
*/







/* =================================
   Desktop Styles: 769px and greater
   =================================
*/
